html {
		height : 200%;
	}
	
	#monSVG {
		position: fixed ;
        width:1000px;
        height:500px;
        left:20px;
        viewBox:-50px -50px 1000px 500px;
        preserveAspectRatio:xMidYMid slice;
	}
#monSVG:nth-child(1){
left:200px;
}
#monSVG:nth-child(2) {
		left:450px;
	}
#monSVG:nth-child(4) {
		top:140px;
	}
#monSVG:nth-child(5) {
		top:250px;
    left:400px;
	}



	/* Définir la couleur de fond, la couleur du contour, l'épaisseur du contour du path */

	#monSVG path {
		fill:none;
        stroke:black;
        stroke-width:3px;

	}
